{% extends 'base.html.twig' %}

{% block title %}Registration Rectification{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-rectify">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Collaborator</th>
                <th scope="col">Project</th>
                <th scope="col">Task</th>
                <th scope="col">Start Task</th>
            </tr>
            </thead>
            <tbody>
            {% for item in timesTasks%}
            <tr>
                <td><a title="RETIFICAR" href="/rectify/{{ item.id }}"><i class="fas fa-pen"></i></a></td>
                <td>{{ item.id }}</td>
                <td>{{ item.collaboratorName }}</td>
                <td>{{ item.projectReference }}</td>
                <td>{{ item.modelTidDesignation }}</td>
                <td>{{ item.startTime|date('d/m/Y H:i:s') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
